
{%extends 'base.html'%}

 {% block content %}
 <h3>Welcome to my Gallery!</h3>


 {% for image in images %} 
 <div class="container">
    <div class="card" style="width: 25rem;">
            <h3 class="card-title">{{image.name}}</h3>
            <img class="card-img-top" src="{{image.pic.url}}" alt="Card image cap">
<!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{image.id}}">
  View Image details
</button>

<!-- Modal -->
<div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center" id="exampleModalLongTitle"> {{image.name}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <p class="card-text">{{image.description}}.</p>
          <p class="card-text"> Location taken : {{image.image_location}}</p>
          <p class="card-text">Category : {{image.image_category}}</p> 
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>        
</div>
</div>
</div>
{% endfor %}
{% endblock %}

 
